@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-image: url(../images/background.jpg);
    background-position: center;*/
    background-color: rgb(50, 51, 54);
    
    
}

li,a,button,h1,p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.logo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}

.logo span{
    color: rgb(12, 184, 214);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.list-items{
    list-style: none;
}

.list-items li{
    display: inline-block;
    padding: 0 25px;

}

.list-items li a:hover{
    color: rgb(12, 184, 214);
}

button{
    padding: 5px 20px;
    border: none;
    border-radius: 5em;
    background: rgb(12, 184, 214);
    cursor: pointer;
}

button:hover{
    background-color: rgb(9, 166, 194);
}

.current{
    font-weight: bolder;
    color: rgb(12, 184, 214);
}

.interest,h1{
    padding: 0 2.5%;
    font-weight: bold;
}

.interest,p{
    padding: 20px 2.5%;
    font-weight: lighter;
}


.items{
    padding: 0 6%;
    list-style: circle;
}